.browse-events-page-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 2rem;
  width: 100%;
  height: 100vh;
}

.filter-box-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  left: 40px;
}

.all-events-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 20px;
  width: 70%;
  height: 100%;
  left: 30%;
}
