.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-registeration-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  max-height: 1200px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.login-registeration-form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161b33;
  background-color: #caf0f8;
  height: 100%;
  width: 50%;
}
.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.form-box label {
  margin: 10px auto;
  font-size: 1.5em;
}
.form-box input,
.form-box select {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  background-color: #161b33;
  color: #caf0f8;
  width: 100%;
  max-width: calc(100% - 20px);
}
.form-box input:focus {
  outline: none;
  border-color: #646cff;
}

.password-validation {
  color: #ff4d4d;
  font-weight: 700;
  animation: shake 0.5s;
}

.password-strength {
  display: flex;
  margin: 10px auto;
  max-width: 100%;
  max-height: 10px;
  flex-direction: row;
  background-color: #becdd0;
}
.password-strength div {
  width: calc(100% / 3);
  height: 10px;
}
.active {
  background-color: #ff4d4d;
  transition: backgroud-color cubic-bezier(0.215, 0.61, 0.355, 1);
}
.inactive {
  background-color: #becdd0;
  transition: backgroud-color cubic-bezier(0.215, 0.61, 0.355, 1);
}
.login-btn {
  margin: 10px auto;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.forgot-password {
  margin: 10px auto;
  font-size: 1em;
  color: #646cff;
  text-decoration: none;
}
.forgot-password:hover {
  color: #535bf2;
}
.register-link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 10px auto;
  font-size: 1em;
  color: #646cff;
  text-decoration: none;
}
.login-poster {
  display: flex;
  width: 50%;
  height: 100%;
}
.login-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .login-registeration-box {
    flex-direction: column;
  }
  .login-registeration-form {
    width: 100%;
  }
  .login-poster {
    display: none;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 0px) rotate(0deg);
  }
  40% {
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 0px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 0px) rotate(-1deg);
  }
}
