.password-reset-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.password-reset-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 780px;
  height: 450px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #00b4d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email-input {
  width: 100%;
  max-width: 400px;
}

.email-input input {
  width: 100%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  background-color: #161b33;
  color: #caf0f8;
}
.next-btn {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.next-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #161b33;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.next-btn p:hover {
  color: #caf0f8;
}
