.password-reset-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.password-reset-main-container {
  display: flex;
  width: 60%;

  height: 450px;
}
.password-reset-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #00b4d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.password-reset-img {
  width: 50%;
  max-width: 400px;
  height: 100%;
}
.password-reset-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.email-input,
.otp-input,
.password-input {
  width: 100%;
}

.password-input {
  margin-bottom: 10px;
}

.email-input input {
  width: 90%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  background-color: #161b33;
  color: #caf0f8;
}
.otp-input input {
  width: 90%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  background-color: #161b33;
  color: #caf0f8;
}
.password-input input {
  width: 90%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  background-color: #161b33;
  color: #caf0f8;
}
.next-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-right: 10px;
}

.next-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #161b33;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.next-btn p:hover {
  color: #caf0f8;
}
.back-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  margin-left: 10px;
}
.back-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #161b33;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.back-btn p:hover {
  color: #caf0f8;
}

.reset-password-btn {
  display: flex;
}
.reset-password-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #161b33;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.reset-password-btn p:hover {
  color: #caf0f8;
}

.back-to-login-btn {
  display: flex;
}
.back-to-login-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #161b33;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.back-to-login-btn p:hover {
  color: #caf0f8;
}
#reset-password-text {
  white-space: pre-wrap;
  text-align: justify;
}
